---
layout: layout
---

<!-- COUNTDOWN -->

<div id="countdown">
	<div id="countdowntext">0 days 0 hours 0 minutes and 0 seconds left</div>
</div>
<script>
	const date = Date()

	// date.
</script>

<h1>
	{{ home.title }}
</h1>

{% for event in collections.event %}
<a href="{{ event.url }}">
	{{ event.data.title }}
</a>
{% endfor %}

<script>
	if (window.netlifyIdentity) {
		window.netlifyIdentity.on("init", (user) => {
			if (!user) {
				window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/"
				})
			}
		})
	}
</script>
